<div class='row'>
    <p>Bar graph resizer by Nicolas Tournier</p>
    <hr>
    <div id='barGraph' class='col-xs-12'></div>
</div>
<hr>
<div class='row'>
    <p>Select graph bar</p>
    <div class='col-xs-6'>
        <form id='selectGraph'>
            <select form_id='selectGraph' id='graphBarSelector'></select>
        </form>
    </div>
    <div class='col-xs-6'>
        <form id='changeValue'>
            <button form_id='changeValue' type='button' value='-25'>-25%</button>
            <button form_id='changeValue' type='button' value='-10'>-10%</button>
            <button form_id='changeValue' type='button' value='10'>+10%</button>
            <button form_id='changeValue' type='button' value='25'>+25%</button>
        </form>
    </div>
<div>